/* line 1, ../sass/risk.scss */
body {
  background: black;
}

/* line 4, ../sass/risk.scss */
.ipad {
  background: url(../img/ipad.png) top left no-repeat #12184a;
  width: 1114px;
  height: 858px;
  top: 0;
  position: absolute;
  padding: 45px 45px 45px;
  -webkit-box-sizing: border-box;
}

/* line 14, ../sass/risk.scss */
.app {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  background-color: rgba(0, 170, 238, 0.8);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent);
  -webkit-background-size: 2px 2px;
  /*background-image: -webkit-radial-gradient(circle, #1a82f7, #2F2727);*/
}
/* line 25, ../sass/risk.scss */
.app .setting-block {
  margin: -160pt -200pt;
  width: 400pt;
  background: #fcfcfc;
  border-radius: 10pt;
  display: block;
  top: 50%;
  position: absolute;
  height: 320pt;
  left: 50%;
  box-shadow: 0pt 0pt 5pt 0pt #000000 inset;
  padding: 10pt;
  box-sizing: border-box;
}
/* line 39, ../sass/risk.scss */
.app .setting-block h1 {
  display: block;
  padding: 2pt 0;
  text-align: center;
  font-size: 3.5em;
  background: rgba(255, 182, 0, 0.8);
  margin: 5pt -10pt 20pt;
  box-shadow: 0pt 0pt 5pt -1pt black inset;
}
/* line 49, ../sass/risk.scss */
.app .setting-block ul {
  padding: 0;
  margin: 0;
}
/* line 53, ../sass/risk.scss */
.app .setting-block ul li {
  list-style: none;
  margin: 0;
  padding: 5pt;
}
/* line 64, ../sass/risk.scss */
.app .btn {
  background-color: #D2D2D2;
  border: 1px solid #707070;
  box-shadow: inset 0pt 0pt 1pt #b3b3b3, 0 0 2pt 0pt rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(90deg, #cfcfcf 0%, #e9e9e9 100%);
  color: #363636;
  text-shadow: rgba(254, 254, 254, 0.5) 0px 1px 0px;
}
/* line 72, ../sass/risk.scss */
.app .btn.btn-reg {
  border-radius: 4pt;
  padding: 6pt 14pt;
  font-size: 14pt;
}
/* line 78, ../sass/risk.scss */
.app .btn.btn-big {
  border-radius: 10pt;
  width: 200pt;
  height: 50pt;
  font-size: 18pt;
}
/* line 85, ../sass/risk.scss */
.app .btn.btn-active {
  background-image: -webkit-linear-gradient(90deg, #00f25a 0%, #70f9a3 100%);
}
/* line 92, ../sass/risk.scss */
.app .disabled {
  opacity: 0.5;
  cursor: default;
}
/* line 98, ../sass/risk.scss */
.app .bbv-start {
  text-align: center;
}
/* line 101, ../sass/risk.scss */
.app .bbv-start .btn {
  display: block;
  margin: 10pt auto;
}
/* line 109, ../sass/risk.scss */
.app .bbv-track-options label {
  margin-left: 6pt;
}
/* line 114, ../sass/risk.scss */
.app .bbv-track-options .bbv-track-player span {
  width: 1.7em;
  height: 1.3em;
  display: inline-block;
  margin-right: 4pt;
}
/* line 120, ../sass/risk.scss */
.app .bbv-track-options .bbv-track-player select {
  margin-right: 4pt;
  min-width: 10em;
}
/* line 124, ../sass/risk.scss */
.app .bbv-track-options .bbv-track-player input {
  display: none;
  width: 10em;
}

/* line 139, ../sass/risk.scss */
.board {
  background: url(../img/2210-main.jpg) top left no-repeat #12184a;
  background-size: 100%;
  width: 1000pt;
  height: 667pt;
  -webkit-transform: scale(0.768);
  -webkit-transform-origin: top left;
}
/* line 151, ../sass/risk.scss */
.board .territory {
  display: inline-block;
  margin: 2pt;
  padding: 2pt;
  width: 50pt;
  height: 50pt;
  opacity: 0.75;
  position: absolute;
  border: 1pt solid black;
  text-align: center;
  -webkit-box-sizing: border-box;
  /*border: 2pt solid black;*/
  /*border-radius: 8pt;*/
}
/* line 165, ../sass/risk.scss */
.board .territory.water {
  border-radius: 30pt;
}
