body {
  background: black;
}
.ipad {
  background: url(../img/ipad.png) top left no-repeat #12184a;
  width: 1114px;
  height: 858px;
  top: 0;
  position: absolute;
  padding: 45px 45px 45px;
  -webkit-box-sizing: border-box;
}

.app {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  background-color: rgba(0, 170, 238, 0.8);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  -webkit-background-size: 2px 2px;

  /*background-image: -webkit-radial-gradient(circle, #1a82f7, #2F2727);*/

  .setting-block {
    margin: -160pt -200pt;
    width: 400pt;
    background: rgb(252,252,252);
    border-radius: 10pt;
    display: block;
    top: 50%;
    position: absolute;
    height: 320pt;
    left: 50%;
    box-shadow: 0pt 0pt 5pt 0pt #000000 inset;
    padding: 10pt;
    box-sizing: border-box;

    h1 {
      display: block;
      padding: 2pt 0;
      text-align: center;
      font-size: 3.5em;
      background: rgba(255, 182, 0, 0.80);
      margin: 5pt -10pt 20pt;
      box-shadow: 0pt 0pt 5pt -1pt #000000 inset;
    }

    ul {
      padding: 0;
      margin:0;

      li {
        list-style: none;
        margin: 0;
        padding: 5pt;

      }
    }


  }

  .btn {
    background-color: #D2D2D2;
    border: 1px solid rgb(112, 112, 112);
    box-shadow: inset 0pt 0pt 1pt rgba(179,179,179,1), 0 0 2pt 0pt rgba(0,0,0,0.4);
    background-image: -webkit-linear-gradient(90deg , #CFCFCF 0%, #E9E9E9 100%);
    color: #363636;
    text-shadow: rgba(254, 254, 254, 0.5) 0px 1px 0px;

    &.btn-reg {
      border-radius: 4pt;
      padding: 6pt 14pt;
      font-size: 14pt;
    }

    &.btn-big {
      border-radius: 10pt;
      width: 200pt;
      height: 50pt;
      font-size: 18pt;
    }

    &.btn-active {
      background-image: -webkit-linear-gradient(90deg , #00F25A 0%, #70F9A3 100%);

    }

  }

  .disabled {
    opacity: 0.5;
    cursor: default;
  }


  .bbv-start {
    text-align: center;

    .btn {
      display:block;
      margin: 10pt auto;
    }
  }


  .bbv-track-options {
    label {
      margin-left: 6pt;
    }

    .bbv-track-player {
      span {
        width: 1.7em;
        height: 1.3em;
        display: inline-block;
        margin-right: 4pt;
      }
      select {
        margin-right: 4pt;
        min-width:10em;
      }
      input {
        display: none;
        width: 10em;
      }
    }

  }                                                                    `

}






.board {
  background: url(../img/2210-main.jpg) top left no-repeat #12184a;
  background-size: 100%;
  width: 1000pt;
  height: 667pt;
  -webkit-transform: scale(0.768);
  -webkit-transform-origin: top left;

  .colony {

  }

  .territory {
    display: inline-block;
    margin: 2pt;
    padding: 2pt;
    width: 50pt;
    height: 50pt;
    opacity: 0.75;
    position: absolute;
    border: 1pt solid black;
    text-align: center;
    -webkit-box-sizing: border-box;
    /*border: 2pt solid black;*/
    /*border-radius: 8pt;*/

    &.water {
      border-radius: 30pt;
    }
  }
}

